.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30px;
    width: 50%;
  }

  body {
    background-color: #485fc7;    
  }

  #draggable {
    background-color: transparent;
    border: none;    
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .size {
  height: 100px;  
  }
