.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30px;
    width: 25%;
    
  }

  #draggable {
    position: absolute;
  }

  #move {
    width: 40%;
  }

  .header {
    height: 80px;
  }

  body {
    background-color: #485fc7;    
  }
