body {
    margin: 0.5;
    padding: 1;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-image:url("jupiter.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color: aliceblue;
    width: 400px;
    position: absolute;
}

ul {
    column-count: 3;
}

h3 {
    text-align: center;
}
